{{#partial "evaluarMetodologias"}}

<div class="col-md-12">
          <h1 class="">Seleccionar Metodología a evaluar</h1>
</div>
<div class="col-md-12">
<select required="required" onchange=" location = this.value;">
	<option hidden selected>Seleccionar Metodologia</option>
	{{#each controllerMetodologias.metodologias}}
	<option value="metodologias?nombre={{nombre}}">{{nombre}}</option>
	{{/each}}
</select>
</div>


{{/partial}}



{{#partial "metodologias"}}

<table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Condiciones</th>
              </tr>
            </thead>
            <tbody>
	{{#each controllerMetodologias.metodologias}}
              <tr>
                <td>{{nombre}}</td>
                <td>
                 <ul>
                	{{#each condiciones}}
            			<li>{{nombreCondicion}}</li>
             	 	{{/each}}
                 </ul>
                </td>
              </tr>
	{{/each}}
	    </tbody>
</table>

{{/partial}}


{{>metodologias.html}}