
{{#partial "metodologias"}}

<table class="table">
            <thead>
              <tr>
                <th>nombre</th>
              </tr>
            </thead>
            <tbody>
	{{#each indicadores}}
              <tr>
                <td>{{nombre}}</td>
              </tr>
	{{/each}}
	    </tbody>
</table>

{{/partial}}


{{>metodologias.html}}