{{#partial "indicadores"}}

<table class="table">
            <thead>
              <tr>
                <th>nombre</th>
                <th>expresion</th>
              </tr>
            </thead>
            <tbody>
	{{#each indicadores}}
              <tr>
                <td>{{nombreIndicador}}</td>
                <td>{{expresion}}</td>
              </tr>
	{{/each}}
	    </tbody>
</table>

{{/partial}}


{{>indicadores.html}}