<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/theme.css" type="text/css"> </head>

<body>
  <nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">dondeInvierto
        <br> </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="empresas"><i class="fa d-inline fa-lg fa-briefcase"></i> Empresas</a>
          </li>
	  <li class="nav-item">
            <a class="nav-link" href="indicadores"><i class="fa d-inline fa-lg fa-line-chart"></i> Indicadores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="metodologias"><i class="fa d-inline fa-lg fa-sort-amount-asc"></i> Metodologías</a>
          </li>
        </ul>
        <a class="btn navbar-btn btn-primary ml-2 text-white"><i class="fa d-inline fa-lg fa-user-circle-o"></i> Hector</a>
      </div>
    </div>
  </nav>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">Indicadores</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          
          <p class="">Seleccionar indicador a aplicar</p>
          							{{#block "indicadores"}}
									{{/block}}
        </div>
        <div class="col-md-12 text-center">
          <a class="btn btn-primary p-3 w-50" href="">APLICAR</a>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-md-9 my-5">
          <h1 class="">Resultado: 77288</h1>
          <p class="">Indicador aplicado es RSI</p>
        </div>
        <div class="col-md-3 text-right py-4">
          <p class="">Nombre de indicador</p>
          <input type="email" name="email" class="form-control" placeholder="EJEMPLO">
          <p class="">Formula</p>
          <input type="email" name="email" class="form-control" placeholder="A + B - 5">
          <a href="#" class="btn btn-outline-primary w-100 text-center my-3"><i class="fa d-inline fa-lg fa-plus-circle"></i> Crear nuevo indicador</a>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="p-4 col-md-4">
          <h2 class="mb-4 text-secondary">dondeInvierto</h2>
          <p class="text-white">Una empresa que te va a hacer triunfar en la vida.</p>
        </div>
        <div class="p-4 col-md-4">
          <h2 class="mb-4 text-secondary">Sitio</h2>
          <ul class="list-unstyled">
            <a href="empresas" class="text-white">Empresas</a>
            <br>
	    <a href="indicadores" class="text-white">Indicadores</a>
            <br>
            <a href="metodologias" class="text-white">Metodologías</a>
            <br>
            <br> </ul>
        </div>
        <div class="p-4 col-md-4">
          <h2 class="mb-4">Contacto</h2>
          <p>
            <a href="tel:+246 - 542 550 5462" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-phone"></i>+246 - 542 550 5462</a>
          </p>
          <p>
            <a href="mailto:info@pingendo.com" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>info@dondeinvierto.com</a>
          </p>
          <p>
            <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-white" target="_blank"><i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>365 Silicon Valley, CA</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-white">© Copyright 2017 dondeInvierto - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>

</html>
